* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    padding-bottom: 60px; /* Adjusted for footer */
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.api-content p, footer p {
    margin: 0;
}

#lang-select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.project-card {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 80%;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-title, .project-description {
    margin: 0;
}

..admin-actions {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    gap: 10px; /* Adds space between buttons */
}

#update-button, #delete-button {
    flex: 1; /* Allows buttons to grow equally */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    text-align: center; /* Centers the text inside the button */
    max-width: 150px; /* Optionally, limit the maximum width */
}

/* Adjusted for equal sizing and alignment */
#update-button {
    background-color: #ffc107;
    color: #000;
    margin-right: 5px; /* Adjust spacing between buttons if needed */
}

#delete-button {
    background-color: #dc3545;
    color: #fff;
}


footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.create-blog-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}

.create-blog-button {
    background-color: #28a745; /* Green background */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.create-blog-button:hover {
    background-color: #218838; /* Darker green on hover */
}
