<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create project</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
<div class="form-container">
    <h1>Create new project</h1>
    <form action="/create" method="POST" enctype="multipart/form-data">
        <div class="input-class">
            <input type="file" id="img" name="img" multiple accept="image/*">
        </div>

        <div class="input-class">
            <input type="text" id="title" placeholder="title" name="title" required>
        </div>
        <div class="input-class">
            <textarea id="description" name="description" placeholder="description" required></textarea>
        </div>

        <button type="submit">Create Project</button>
    </form>
</div>

</body>
</html>